In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [53]:
Myntra=pd.read_csv(r"D:\Global Key Technologies\Data Science\Pandas_Myntra_Project/Myntra.csv",low_memory=False)
Myntra.head()

,URL,Product_id,BrandName,Category,Individual_category,category_by_Gender,Description,DiscountPrice (in Rs),OriginalPrice (in Rs),DiscountOffer,SizeOption,Ratings,Reviews
0,https://www.myntra.com/jeans/roadster/roadster...,2296012,Roadster,Bottom Wear,jeans,Men,roadster men navy blue slim fit mid rise clean...,824.0,1499.0,45% OFF,"28, 30, 32, 34, 36",3.9,999.0
1,https://www.myntra.com/track-pants/locomotive/...,13780156,LOCOMOTIVE,Bottom Wear,track-pants,Men,locomotive men black white solid slim fit tra...,517.0,1149.0,55% OFF,"S, M, L, XL",4.0,999.0
2,https://www.myntra.com/shirts/roadster/roadste...,11895958,Roadster,Topwear,shirts,Men,roadster men navy white black geometric print...,629.0,1399.0,55% OFF,"38, 40, 42, 44, 46, 48",4.3,999.0
3,https://www.myntra.com/shapewear/zivame/zivame...,4335679,Zivame,Lingerie & Sleep Wear,shapewear,Women,zivame women black saree shapewear zi3023core0...,893.0,1295.0,31% OFF,"S, M, L, XL, XXL",4.2,999.0
4,https://www.myntra.com/tshirts/roadster/roadst...,11690882,Roadster,Western,tshirts,Women,roadster women white solid v neck pure cotton ...,NaN,599.0,35% OFF,"XS, S, M, L, XL",4.2,999.0

In [5]:
Myntra.isnull().sum()

URL                           0
Product_id                    0
BrandName                     0
Category                      0
Individual_category           0
category_by_Gender            0
Description                   0
DiscountPrice (in Rs)    193158
OriginalPrice (in Rs)         0
DiscountOffer             74306
SizeOption                    0
Ratings                  336152
Reviews                  336152
dtype: int64

In [6]:
Myntra.dtypes

URL                       object
Product_id                 int64
BrandName                 object
Category                  object
Individual_category       object
category_by_Gender        object
Description               object
DiscountPrice (in Rs)    float64
OriginalPrice (in Rs)    float64
DiscountOffer             object
SizeOption                object
Ratings                  float64
Reviews                  float64
dtype: object

In [54]:
Myntra[Myntra['DiscountOffer']=='45% OFF']

,URL,Product_id,BrandName,Category,Individual_category,category_by_Gender,Description,DiscountPrice (in Rs),OriginalPrice (in Rs),DiscountOffer,SizeOption,Ratings,Reviews
0,https://www.myntra.com/jeans/roadster/roadster...,2296012,Roadster,Bottom Wear,jeans,Men,roadster men navy blue slim fit mid rise clean...,824.0,1499.0,45% OFF,"28, 30, 32, 34, 36",3.9,999.0
37,https://www.myntra.com/jeans/wrogn/wrogn-men-b...,2477061,WROGN,Bottom Wear,jeans,Men,wrogn men blue skinny fit mid rise clean look ...,1539.0,2799.0,45% OFF,"28, 30, 32, 34, 36, 38",4.0,988.0
38,https://www.myntra.com/jeans/wrogn/wrogn-men-b...,10187401,WROGN,Bottom Wear,jeans,Men,wrogn men black slim fit mid rise clean look s...,1429.0,2599.0,45% OFF,"28, 30, 32, 34, 36, 38",4.1,988.0
66,https://www.myntra.com/kurta-sets/azira/azira-...,13141478,Azira,Indian Wear,kurta-sets,Women,azira women green printed kurta with palazzos ...,1429.0,2599.0,45% OFF,"XS, S, M, L, XL, XXL, 3XL",4.2,984.0
68,https://www.myntra.com/shirts/roadster/roadste...,11903990,Roadster,Topwear,shirts,Men,roadster men maroon pure cotton sustainable ca...,659.0,1199.0,45% OFF,"38, 40, 42, 44",4.2,983.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
510632,https://www.myntra.com/tshirts/free-authority/...,13194072,Free Authority,Western,tshirts,Women,free authority women black wonder woman printe...,NaN,999.0,45% OFF,"S, M, L, XL",NaN,NaN
510657,https://www.myntra.com/trousers/libas/libas-wo...,16373850,Libas,Western,trousers,Women,libas women green solid tapered fit cotton ple...,NaN,999.0,45% OFF,"29, 31, 33, 35",NaN,NaN
510685,https://www.myntra.com/shorts/aesthetic-nation...,15503148,AESTHETIC NATION,Western,shorts,Women,aesthetic nation women charcoal grey slim fit ...,NaN,999.0,45% OFF,"28, 30, 32, 34, 36",NaN,NaN
510712,https://www.myntra.com/tops/stalk/stalk-mustar...,16624242,STALK,Western,tops,Women,stalk mustard women yellow self design square ...,NaN,999.0,45% OFF,"XS, S, M, L, XL",NaN,NaN
510744,https://www.myntra.com/trousers/bitterlime/bit...,1687290,Bitterlime,Western,trousers,Women,bitterlime women blue solid regular fit pleate...,NaN,999.0,45% OFF,"28, 30, 32, 34, 36",NaN,NaN

In [8]:
Myntra[Myntra['Individual_category']=='trousers']

,URL,Product_id,BrandName,Category,Individual_category,category_by_Gender,Description,DiscountPrice (in Rs),OriginalPrice (in Rs),DiscountOffer,SizeOption,Ratings,Reviews
6,https://www.myntra.com/trousers/highlander/hig...,6744434,HIGHLANDER,Bottom Wear,trousers,Men,highlander men olive green slim fit solid regu...,599.0,1499.0,60% OFF,"30, 32, 34, 36",3.9,998.0
18,https://www.myntra.com/trousers/tokyo-talkies/...,12391750,Tokyo Talkies,Western,trousers,Women,tokyo talkies women olive green regular fit so...,NaN,2149.0,61% OFF,"28, 30, 32, 34",4.1,995.0
26,https://www.myntra.com/trousers/zastraa/zastra...,9476129,Zastraa,Western,trousers,Women,zastraa women maroon slim fit peg trousers,NaN,2699.0,70% OFF,"26, 28, 30, 32, 34, 36",4.1,991.0
42,https://www.myntra.com/trousers/sassafras/sass...,8643285,SASSAFRAS,Western,trousers,Women,sassafras women olive green peg trousers,NaN,1599.0,50% OFF,"26, 28, 30, 32, 34, 36",3.6,988.0
75,https://www.myntra.com/trousers/tokyo-talkies/...,13035312,Tokyo Talkies,Western,trousers,Women,tokyo talkies women maroon regular fit solid p...,NaN,1549.0,58% OFF,"28, 30, 32, 34",4.0,982.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
526491,https://www.myntra.com/trousers/de-moza/de-moz...,17705996,De Moza,Western,trousers,Women,de moza women beige pencil slim fit cotton cig...,NaN,999.0,NaN,"26, 28, 30, 32",NaN,NaN
526494,https://www.myntra.com/trousers/max/max-women-...,17689806,max,Western,trousers,Women,max women navy blue trousers,NaN,999.0,NaN,"26, 28, 30, 32, 34, 36",NaN,NaN
526504,https://www.myntra.com/trousers/amukti/amukti-...,16003638,AMUKTI,Western,trousers,Women,amukti women white black striped cropped trou...,NaN,999.0,NaN,"26, 28, 30, 32, 34, 36",NaN,NaN
526508,https://www.myntra.com/trousers/akkriti-by-pan...,9252907,AKKRITI BY PANTALOONS,Western,trousers,Women,akkriti by pantaloons women off white regular ...,NaN,999.0,NaN,"27, 31",NaN,NaN
526550,https://www.myntra.com/trousers/gant/gant-wome...,17926052,GANT,Western,trousers,Women,gant women blue floral printed trousers,NaN,9999.0,NaN,"28, 29, 29.5, 33, 35",NaN,NaN

In [9]:
Myntra[Myntra['DiscountOffer']>'80% OFF'].head(20)

,URL,Product_id,BrandName,Category,Individual_category,category_by_Gender,Description,DiscountPrice (in Rs),OriginalPrice (in Rs),DiscountOffer,SizeOption,Ratings,Reviews
182,https://www.myntra.com/tshirts/roadster/the-ro...,10968574,Roadster,Western,tshirts,Women,the roadster lifestyle co women black solid ro...,NaN,999.0,Rs. 500 OFF,"XS, S, M, L, XL",4.2,964.0
199,https://www.myntra.com/tshirts/mast--harbour/m...,8325391,Mast & Harbour,Western,tshirts,Women,mast harbour women off white striped round ne...,NaN,899.0,Rs. 400 OFF,"XS, S, M, L, XL",4.3,961.0
243,https://www.myntra.com/tshirts/ether/ether-wom...,8610407,ether,Western,tshirts,Women,ether women white solid high neck pure cotton ...,NaN,799.0,Rs. 300 OFF,"XS, S, M, L, XL",4.3,952.0
325,https://www.myntra.com/tshirts/mast--harbour/m...,8325439,Mast & Harbour,Western,tshirts,Women,mast harbour women off white printed round ne...,NaN,799.0,Rs. 300 OFF,"XS, S, M, L, XL",4.2,936.0
356,https://www.myntra.com/tops/roadster/roadster-...,8964507,Roadster,Western,tops,Women,roadster women yellow solid top,NaN,999.0,Rs. 500 OFF,"XS, S, M, L, XL",4.3,930.0
375,https://www.myntra.com/lounge-pants/xyxx/xyxx-...,10852560,XYXX,Inner Wear & Sleep Wear,lounge-pants,Men,xyxx men super combed cotton checkmate lounge ...,629.0,769.0,Rs. 140 OFF,"S, M, L, XL",4.1,926.0
434,https://www.myntra.com/trunk/one8-by-virat-koh...,11217408,one8 by Virat Kohli,Inner Wear & Sleep Wear,trunk,Men,one8 by virat kohli pack of 2 men grey melange...,398.0,498.0,Rs. 100 OFF,"S, M, L, XL, XXL",4.2,914.0
473,https://www.myntra.com/dresses/ahalyaa/ahalyaa...,7193789,Ahalyaa,Indian Wear,dresses,Women,ahalyaa green ethnic motifs printed maxi dress,999.0,2455.0,Rs. 1456 OFF,"S, M, L, XL, XXL",3.6,908.0
524,https://www.myntra.com/tshirts/veirdo/veirdo-m...,12915204,VEIRDO,Topwear,tshirts,Men,veirdo men black printed round neck pure cotto...,449.0,999.0,Rs. 550 OFF,"S, M, L, XL, XXL, 3XL",4.6,900.0
549,https://www.myntra.com/lounge-pants/xyxx/xyxx-...,10852574,XYXX,Inner Wear & Sleep Wear,lounge-pants,Men,xyxx men super combed cotton pack of 2 checkma...,1199.0,1499.0,Rs. 300 OFF,"S, M, L, XL",4.3,895.0
561,https://www.myntra.com/tshirts/bewakoof/bewako...,12331848,Bewakoof,Western,tshirts,Women,bewakoof women black solid round neck pure cot...,NaN,449.0,Rs. 38 OFF,"XS, S, M, L, XL, XXL, 3XL",4.4,892.0
592,https://www.myntra.com/tshirts/roadster/the-ro...,10301079,Roadster,Western,tshirts,Women,the roadster lifestyle co women black solid ro...,NaN,999.0,Rs. 500 OFF,"XS, S, M, L, XL",4.4,888.0
668,https://www.myntra.com/tshirts/roadster/roadst...,9740079,Roadster,Western,tshirts,Women,roadster women pink blue printed round neck p...,NaN,699.0,Rs. 200 OFF,"XS, S, M, L, XL",4.0,878.0
774,https://www.myntra.com/trunk/xyxx/xyxx-men-pac...,13682898,XYXX,Inner Wear & Sleep Wear,trunk,Men,xyxx men pack of 3 solid ultra soft antimicrob...,729.0,807.0,Rs. 78 OFF,"S, M, L, XL, XXL",4.3,860.0
888,https://www.myntra.com/tshirts/mast--harbour/m...,8315901,Mast & Harbour,Western,tshirts,Women,mast harbour women twin collection white nav...,NaN,899.0,Rs. 400 OFF,"XS, S, M, L, XL",4.4,843.0
891,https://www.myntra.com/dresses/ahalyaa/ahalyaa...,9689953,Ahalyaa,Indian Wear,dresses,Women,ahalyaa black green floral printed maxi dress,1399.0,3615.0,Rs. 2216 OFF,"S, M, L, XL, XXL",4.3,842.0
1018,https://www.myntra.com/tshirts/mast--harbour/m...,11185036,Mast & Harbour,Western,tshirts,Women,mast harbour women white blue printed round ...,NaN,899.0,Rs. 400 OFF,"XS, S, M, L, XL",4.3,824.0
1025,https://www.myntra.com/kurtas/florence/florenc...,11215738,Florence,Indian Wear,kurtas,Women,florence women green solid a line kurta,495.0,2750.0,82% OFF,"S, M, L, XL, XXL",3.7,823.0
1168,https://www.myntra.com/track-pants/harvard/har...,12671256,Harvard,Western,track-pants,Women,harvard women charcoal grey solid cropped trac...,NaN,999.0,Rs. 500 OFF,"S, M, L, XL",4.2,804.0
1180,https://www.myntra.com/tops/roadster/roadster-...,11296160,Roadster,Western,tops,Women,roadster rust orange v neck top with cut outs,NaN,799.0,Rs. 300 OFF,"XS, S, M, L, XL",4.0,802.0

In [10]:
Myntra

,URL,Product_id,BrandName,Category,Individual_category,category_by_Gender,Description,DiscountPrice (in Rs),OriginalPrice (in Rs),DiscountOffer,SizeOption,Ratings,Reviews
0,https://www.myntra.com/jeans/roadster/roadster...,2296012,Roadster,Bottom Wear,jeans,Men,roadster men navy blue slim fit mid rise clean...,824.0,1499.0,45% OFF,"28, 30, 32, 34, 36",3.9,999.0
1,https://www.myntra.com/track-pants/locomotive/...,13780156,LOCOMOTIVE,Bottom Wear,track-pants,Men,locomotive men black white solid slim fit tra...,517.0,1149.0,55% OFF,"S, M, L, XL",4.0,999.0
2,https://www.myntra.com/shirts/roadster/roadste...,11895958,Roadster,Topwear,shirts,Men,roadster men navy white black geometric print...,629.0,1399.0,55% OFF,"38, 40, 42, 44, 46, 48",4.3,999.0
3,https://www.myntra.com/shapewear/zivame/zivame...,4335679,Zivame,Lingerie & Sleep Wear,shapewear,Women,zivame women black saree shapewear zi3023core0...,893.0,1295.0,31% OFF,"S, M, L, XL, XXL",4.2,999.0
4,https://www.myntra.com/tshirts/roadster/roadst...,11690882,Roadster,Western,tshirts,Women,roadster women white solid v neck pure cotton ...,NaN,599.0,35% OFF,"XS, S, M, L, XL",4.2,999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
526559,https://www.myntra.com/sweaters/hm/hm-women-be...,16929990,H&M,Western,sweaters,Women,hm women beige oversized cashmere jumper,NaN,9999.0,NaN,"XS, S, M, L",NaN,NaN
526560,https://www.myntra.com/jackets/hm/hm-women-bla...,16026012,H&M,Western,jackets,Women,hm women black water repellent parka jacket,NaN,9999.0,NaN,"XS, S, M, L, XL",NaN,NaN
526561,https://www.myntra.com/dresses/250-designs/250...,17654114,250 DESIGNS,Western,dresses,Women,250 designs blue lace sheath dress,NaN,9999.0,NaN,"S, M, L, XL, XXL",NaN,NaN
526562,https://www.myntra.com/dresses/masaba/masaba-w...,12508700,Masaba,Western,dresses,Women,masaba women yellow printed a line dress,NaN,9999.0,NaN,"XS, S, M, L, XL",NaN,NaN
526563,https://www.myntra.com/tshirts/jockey/jockey-w...,17856544,Jockey,Western,tshirts,Women,jockey women blue extended sleeves t shirt,NaN,799.0,NaN,"S, M, L",NaN,NaN

In [11]:
Myntra2=Myntra.dropna()
Myntra2

,URL,Product_id,BrandName,Category,Individual_category,category_by_Gender,Description,DiscountPrice (in Rs),OriginalPrice (in Rs),DiscountOffer,SizeOption,Ratings,Reviews
0,https://www.myntra.com/jeans/roadster/roadster...,2296012,Roadster,Bottom Wear,jeans,Men,roadster men navy blue slim fit mid rise clean...,824.0,1499.0,45% OFF,"28, 30, 32, 34, 36",3.9,999.0
1,https://www.myntra.com/track-pants/locomotive/...,13780156,LOCOMOTIVE,Bottom Wear,track-pants,Men,locomotive men black white solid slim fit tra...,517.0,1149.0,55% OFF,"S, M, L, XL",4.0,999.0
2,https://www.myntra.com/shirts/roadster/roadste...,11895958,Roadster,Topwear,shirts,Men,roadster men navy white black geometric print...,629.0,1399.0,55% OFF,"38, 40, 42, 44, 46, 48",4.3,999.0
3,https://www.myntra.com/shapewear/zivame/zivame...,4335679,Zivame,Lingerie & Sleep Wear,shapewear,Women,zivame women black saree shapewear zi3023core0...,893.0,1295.0,31% OFF,"S, M, L, XL, XXL",4.2,999.0
6,https://www.myntra.com/trousers/highlander/hig...,6744434,HIGHLANDER,Bottom Wear,trousers,Men,highlander men olive green slim fit solid regu...,599.0,1499.0,60% OFF,"30, 32, 34, 36",3.9,998.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
188765,https://www.myntra.com/tshirts/hrx-by-hrithik-...,8379269,HRX by Hrithik Roshan,Sports Wear,tshirts,Women,hrx by hrithik roshan women navy blue nautical...,404.0,899.0,55% OFF,"XS, S, M, L, XL",4.4,0.0
188766,https://www.myntra.com/track-pants/stylestone/...,12767048,StyleStone,Sports Wear,track-pants,Women,stylestone women black solid track pants,467.0,899.0,48% OFF,"S, M, L, XL",4.2,0.0
188767,https://www.myntra.com/tshirts/hrx-by-hrithik-...,10106141,HRX by Hrithik Roshan,Sports Wear,tshirts,Women,hrx by hrithik roshan women black green print...,404.0,899.0,55% OFF,"S/M, L/XL",4.4,0.0
188768,https://www.myntra.com/tshirts/hrx-by-hrithik-...,11640324,HRX by Hrithik Roshan,Sports Wear,tshirts,Women,hrx by hrithik roshan women north sea printed ...,494.0,899.0,45% OFF,"XS, S, M, L, XL",4.4,0.0
188769,https://www.myntra.com/tshirts/hrx-by-hrithik-...,11639956,HRX by Hrithik Roshan,Sports Wear,tshirts,Women,hrx by hrithik roshan green printed rapid dry ...,494.0,899.0,45% OFF,"XS, S, M, L, XL",4.5,0.0

In [12]:
pd.pivot_table(Myntra2,index=['Product_id','BrandName','Individual_category'],values=['Ratings']).head(20)

                                                          Ratings
Product_id BrandName                 Individual_category
66578      Enamor                    bra                      4.7
72725      Triumph                   bra                      4.4
72728      Triumph                   bra                      4.5
72736      Triumph                   bra                      4.4
72737      Triumph                   bra                      4.3
99350      Puma                      tshirts                  4.0
110269     Ira Soleil                kurtis                   3.6
203968     Clovia                    shapewear                3.3
219133     Slumber Jill              night-suits              4.3
234627     U.S. Polo Assn.           trousers                 3.3
266004     U.S. Polo Assn. Denim Co. jeans                    3.0
266005     U.S. Polo Assn. Denim Co. jeans                    4.0
290279     Celio                     shorts                   4.4
307736     Enamor                    shapewear                2.8
307739     Enamor                    shapewear                4.0
317258     Dennis Morton             kurtas                   4.6
328843     Fasense                   nightdress               3.7
328873     Fasense                   nightdress               4.8
328884     Fasense                   nightdress               4.3
328893     Fasense                   nightdress               4.4

In [13]:
pd.pivot_table(Myntra2,index=['Individual_category'],values=['Ratings']).head(20)

                      Ratings
Individual_category
baby-dolls           3.999462
bath-robe            4.068205
blazers              3.623961
boots                3.650000
boxers               4.024366
bra                  4.075976
briefs               4.164637
burqas               4.009524
camisoles            4.156839
capris               4.237500
casual-shoes         4.037500
churidar             4.060465
clothing-set         3.980000
co-ords              4.046078
coats                4.162500
dhotis               4.011823
dress-material       3.930462
dresses              4.059655
dungarees            3.800000
dupatta              4.189720

In [14]:
Myntra2[Myntra2['Individual_category']=='heels']

,URL,Product_id,BrandName,Category,Individual_category,category_by_Gender,Description,DiscountPrice (in Rs),OriginalPrice (in Rs),DiscountOffer,SizeOption,Ratings,Reviews
170943,https://www.myntra.com/heels/sangria/sangria-m...,15145314,Sangria,Plus Size,heels,Women,sangria multicoloured self striped mid top lac...,734.0,2099.0,65% OFF,"EURO36, EURO37, EURO38, EURO39, EURO40, EURO41",4.2,5.0

In [28]:
Myntra2['SizeOption'].value_counts()

S, M, L, XL, XXL                                                                                         23809
S, M, L, XL                                                                                              11617
XS, S, M, L, XL, XXL                                                                                      9960
Onesize                                                                                                   9484
S, M, L, XL, XXL, 3XL                                                                                     6338
                                                                                                         ...
34DD, 36DD, 36E, 38DD, 38E, 40DD, 40E, 42B, 42C, 42D, 42DD, 42E, 44B, 44C, 44D, 44DD, 44E                    1
32B, 32C, 32D, 34A, 34B, 34C, 34D, 36B, 36C, 36D, 36DD, 38B, 38C, 38D                                        1
34B, 34C, 36B, 36C, 36D, 38C, 38D                                                                            1
32B, 32C, 32D, 34B, 34C, 34D, 36B, 36C, 36D, 38B, 38C, 38D, 40C                                              1
32B, 32C, 32D, 32DD, 32E, 34A, 34B, 34C, 34D, 34DD, 34E, 36B, 36C, 36D, 36DD, 38B, 38C, 38D, 38E, 40C        1
Name: SizeOption, Length: 1643, dtype: int64

In [16]:
Myntra2['category_by_Gender'].value_counts().head(20)

Men      62219
Women    55322
Name: category_by_Gender, dtype: int64

In [17]:
Myntra2['Individual_category'].value_counts().sort_values(ascending=True).head(50)

heels                     1
dungarees                 1
sleepsuit                 1
boots                     2
harem-pants               2
rain-jacket               4
scarves                   5
necklace-and-chains       5
clothing-set              5
swim-bottoms              7
outdoor-masks             8
coats                     8
salwar-and-dupatta        8
lingerie-accessories      8
suits                    12
jeggings                 20
burqas                   21
thermal-set              24
patiala-and-dupatta      27
waistcoat                33
shrug                    35
patiala                  37
earrings                 37
casual-shoes             40
saree-accessories        44
jumpsuit                 48
robe                     49
salwar                   49
sports-sandals           54
stoles                   71
thermal-bottoms          74
flats                    81
churidar                 86
co-ords                 102
capris                  104
shawl                   112
stockings               121
lounge-tshirts          137
pyjamas                 163
thermal-tops            165
bath-robe               195
dhotis                  203
tunics                  214
swimwear                258
sherwani                276
skirts                  303
kurtis                  315
dress-material          325
camisoles               329
shapewear               334
Name: Individual_category, dtype: int64

In [18]:
Myntra2['BrandName'].value_counts().sort_values(ascending=False)

HERE&NOW                 5108
HRX by Hrithik Roshan    3706
Roadster                 3346
Sangria                  2875
Puma                     2600
                         ...
Parcel Yard                 1
Soxytoes                    1
trueBrowns                  1
Code 61                     1
Donald Duck                 1
Name: BrandName, Length: 1252, dtype: int64

In [19]:
Myntra2['DiscountPrice (in Rs)'].sum()

121004311.0

In [20]:
Myntra2['DiscountPrice (in Rs)'].value_counts()

599.0     2786
899.0     2124
999.0     1979
799.0     1727
1199.0    1623
          ...
3048.0       1
310.0        1
186.0        1
1015.0       1
1658.0       1
Name: DiscountPrice (in Rs), Length: 2718, dtype: int64

In [21]:
pd.pivot_table(Myntra2,index=['Individual_category'],values=['Ratings']).head(20)

                      Ratings
Individual_category
baby-dolls           3.999462
bath-robe            4.068205
blazers              3.623961
boots                3.650000
boxers               4.024366
bra                  4.075976
briefs               4.164637
burqas               4.009524
camisoles            4.156839
capris               4.237500
casual-shoes         4.037500
churidar             4.060465
clothing-set         3.980000
co-ords              4.046078
coats                4.162500
dhotis               4.011823
dress-material       3.930462
dresses              4.059655
dungarees            3.800000
dupatta              4.189720

In [22]:
Myntra2.SizeOption.unique()

array(['28, 30, 32, 34, 36', 'S, M, L, XL', '38, 40, 42, 44, 46, 48', ...,
       '30A, 30B, 30C, 30D, 32A, 32B, 32C, 32D, 32DD, 34A, 34B, 34C, 34D, 34DD, 36A, 36B, 36C, 36D, 36DD, 38B, 38C, 38D',
       '26, 28, 30, 32, 34, 38, 40',
       '32B, 32C, 32D, 32DD, 32E, 34A, 34B, 34C, 34D, 34DD, 34E, 36B, 36C, 36D, 36DD, 38B, 38C, 38D, 38E, 40C'],
      dtype=object)

In [39]:
Myntra2[Myntra2['SizeOption']=="L".count()]

TypeError: must be str, not int

In [40]:
Myntra2['Category'].value_counts()

Indian Wear                 29499
Bottom Wear                 22091
Topwear                     21232
Lingerie & Sleep Wear       18685
Plus Size                   10020
Sports Wear                  9579
Inner Wear &  Sleep Wear     6425
Western                        10
Name: Category, dtype: int64

In [41]:
Myntra2['DiscountOffer'].value_counts()

50% OFF         13250
60% OFF         11751
40% OFF          8857
55% OFF          8240
65% OFF          7607
                ...
Rs. 449 OFF         1
Rs. 4700 OFF        1
Rs. 2184 OFF        1
Rs. 925 OFF         1
Rs. 409 OFF         1
Name: DiscountOffer, Length: 797, dtype: int64

In [46]:
Myntra2[(Myntra2.DiscountOffer=='50% OFF' ) & (Myntra2.category_by_Gender == 'Women')]

,URL,Product_id,BrandName,Category,Individual_category,category_by_Gender,Description,DiscountPrice (in Rs),OriginalPrice (in Rs),DiscountOffer,SizeOption,Ratings,Reviews
145,https://www.myntra.com/tops/sangria/sangria-na...,8860565,Sangria,Indian Wear,tops,Women,sangria navy blue tie dye blouson top,849.0,1699.0,50% OFF,"XS, S, M, L, XL, XXL, 3XL",4.3,971.0
262,https://www.myntra.com/tops/sangria/sangria-bl...,8349519,Sangria,Indian Wear,tops,Women,sangria blue ethnic motifs a line pure cotton top,649.0,1299.0,50% OFF,"XS, S, M, L, XL, XXL, 3XL",4.4,948.0
292,https://www.myntra.com/tights/hrx-by-hrithik-r...,5842092,HRX by Hrithik Roshan,Sports Wear,tights,Women,hrx active by hrithik roshan women charcoal gr...,599.0,1199.0,50% OFF,"XS, S, M, L, XL, XXL",4.1,942.0
312,https://www.myntra.com/kurtas/sangria/sangria-...,11173950,Sangria,Indian Wear,kurtas,Women,sangria women blue white printed straight kurta,549.0,1099.0,50% OFF,"XS, S, M, L, XL, XXL, 3XL",4.3,938.0
445,https://www.myntra.com/tights/hrx-by-hrithik-r...,7695782,HRX by Hrithik Roshan,Sports Wear,tights,Women,hrx by hrithik roshan women navy blue skinny f...,1149.0,2299.0,50% OFF,"XS, S, M, L, XL, XXL",4.4,913.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
188720,https://www.myntra.com/track-pants/hrx-by-hrit...,7688100,HRX by Hrithik Roshan,Sports Wear,track-pants,Women,hrx by hrithik roshan black rapid dry slim fit...,849.0,1699.0,50% OFF,"XS, S, M, L, XL",4.3,0.0
188725,https://www.myntra.com/tights/hrx-by-hrithik-r...,2293376,HRX by Hrithik Roshan,Sports Wear,tights,Women,hrx by hrithik roshan charcoal grey tights,849.0,1699.0,50% OFF,"XS, S, M, L, XL, XXL",4.5,0.0
188729,https://www.myntra.com/tights/hrx-by-hrithik-r...,2262593,HRX by Hrithik Roshan,Sports Wear,tights,Women,hrx active by hrithik roshan women black slim ...,899.0,1799.0,50% OFF,"XS, S, M, L, XL, XXL",4.4,0.0
188733,https://www.myntra.com/track-pants/hrx-by-hrit...,2293431,HRX by Hrithik Roshan,Sports Wear,track-pants,Women,hrx by hrithik roshan black ankle length track...,949.0,1899.0,50% OFF,"XS, S, M, L, XL",3.8,0.0
188745,https://www.myntra.com/track-pants/hrx-by-hrit...,11812800,HRX by Hrithik Roshan,Sports Wear,track-pants,Women,hrx by hrithik roshan women black solid active...,1199.0,2399.0,50% OFF,"XS, S, M, L, XL",4.4,0.0

In [47]:
Myntra2[(Myntra2.DiscountOffer=='50% OFF' ) & (Myntra2.category_by_Gender == 'Men')]

,URL,Product_id,BrandName,Category,Individual_category,category_by_Gender,Description,DiscountPrice (in Rs),OriginalPrice (in Rs),DiscountOffer,SizeOption,Ratings,Reviews
40,https://www.myntra.com/shirts/roadster/roadste...,12918912,Roadster,Topwear,shirts,Men,roadster men sea green pure cotton sustainable...,599.0,1199.0,50% OFF,"38, 40, 42, 44, 46, 48",4.3,988.0
78,https://www.myntra.com/tshirts/wrogn/wrogn-men...,11363302,WROGN,Topwear,tshirts,Men,wrogn men navy blue striped slim fit cotton pu...,649.0,1299.0,50% OFF,"S, M, L, XL, XXL",4.3,981.0
101,https://www.myntra.com/jeans/wrogn/wrogn-men-g...,1700734,WROGN,Bottom Wear,jeans,Men,wrogn men grey slim fit mid rise clean look jeans,1449.0,2899.0,50% OFF,"28, 30, 32, 34, 36, 38",4.2,977.0
123,https://www.myntra.com/tshirts/wrogn/wrogn-men...,2478316,WROGN,Topwear,tshirts,Men,wrogn men off white navy striped polo pure co...,749.0,1499.0,50% OFF,"S, M, L, XL, XXL",4.1,974.0
152,https://www.myntra.com/tshirts/wrogn/wrogn-men...,2338881,WROGN,Topwear,tshirts,Men,wrogn men maroon printed t shirt,399.0,799.0,50% OFF,"S, M, L, XL, XXL",4.3,969.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
187725,https://www.myntra.com/tshirts/roadster/roadst...,2475892,Roadster,Topwear,tshirts,Men,roadster men black solid round neck t shirt,499.0,999.0,50% OFF,"XS, S, M, L, XL, XXL, 3XL, 4XL",4.2,0.0
187728,https://www.myntra.com/tshirts/roadster/roadst...,6149689,Roadster,Topwear,tshirts,Men,roadster men navy blue red striped cotton pur...,499.0,999.0,50% OFF,"XS, S, M, L, XL, XXL, 3XL, 4XL",4.3,0.0
187733,https://www.myntra.com/tshirts/herenow/herenow...,8267997,HERE&NOW,Topwear,tshirts,Men,herenow men white brand logo printed cotton t ...,499.0,999.0,50% OFF,"S, M, L, XL",4.1,0.0
187735,https://www.myntra.com/tshirts/moda-rapido/mod...,8683501,Moda Rapido,Topwear,tshirts,Men,moda rapido men rust printed live in laundered...,499.0,999.0,50% OFF,"S, M, L, XL",4.2,0.0
187737,https://www.myntra.com/tshirts/roadster/roadst...,8938109,Roadster,Topwear,tshirts,Men,roadster men olive green black camo print rou...,499.0,999.0,50% OFF,"XS, S, M, L, XL, XXL, 3XL, 4XL",4.1,0.0

In [50]:
pd.pivot_table(Myntra2,index=['Individual_category','category_by_Gender'],values=['Ratings'])

                                         Ratings
Individual_category category_by_Gender
baby-dolls          Women               3.999462
bath-robe           Men                 4.206494
                    Women               3.977966
blazers             Men                 3.623961
boots               Women               3.650000
...                                          ...
trunk               Men                 4.124694
tshirts             Men                 4.173639
                    Women               4.263794
tunics              Women               4.049533
waistcoat           Men                 3.984848

[118 rows x 1 columns]